
.img {
    overflow: hidden;
    transition: all 0.6s;
    width: 50%;
    /* max-height: 40px; */
    margin: 10px;
    margin-left: 10px;
    border-color: black;
  }
  
  .img:hover {
    transform: scale(1.2);
  }

/* .left {
    background-color: red;
    float: left;
    width: 50%;
  }

.right {
  float: right;
  width: 50%;
  border: 2px solid black;
}
.p {
  text-align: center;
  
}  */