

.container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.paragaraph {
    display: flex;
    text-align: justify;
    align-items: center;
    margin-left: auto;
    max-width: 100%;
    text-indent: 10%;
    font-size: medium;    
}

